# urls
APP_URL="http://localhost:3000"
BMS_URL="http://localhost:3001"
SEQUOIA_URL="http://localhost:3002"

# prisma
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# auth
AUTH_SECRET=""

# resend
RESEND_API_KEY=""
