# urls
APP_URL="https://genealogiq.app"
BMS_URL="https://bms.genealogiq.app"
SEQUOIA_URL="https://sequoia.rip"

# host
AUTH_TRUST_HOST=true

# prisma
DATABASE_URL=

# auth
# AUTH_URL is intentionally unset in dev, AUTH_TRUST_HOST=true handles port flexibility
# In production set AUTH_URL=https://genealogiq.app
AUTH_SECRET=

# vercel blob
BLOB_READ_WRITE_TOKEN=

# resend
RESEND_API_KEY=
