[data-sidebar="content"] {
  scrollbar-width: thin;
}

[data-sidebar="content"]::-webkit-scrollbar {
  width: 4px;
}

[data-sidebar="content"]::-webkit-scrollbar-track {
  background: transparent;
}

[data-sidebar="content"]::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-border);
  border-radius: 9999px;
}
