:root {
  --sidebar: #7B90AB;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.93 0 0);
  --sidebar-accent-foreground: #616198;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --sidebar: #616198;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #7B90AB;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

[data-sidebar="content"] {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--sidebar-border)) transparent;
}

[data-sidebar="content"]::-webkit-scrollbar {
  width: 4px;
}

[data-sidebar="content"]::-webkit-scrollbar-track {
  background: transparent;
}

[data-sidebar="content"]::-webkit-scrollbar-thumb {
  background-color: hsl(var(--sidebar-border));
  border-radius: 9999px;
}
